body {
	margin: 0px;
	font-family: sans-serif;
	background: url('/images/body-bg.jpg');
	overflow-y: scroll;
}
a, a:hover,a:active,a:link, a:visited
{
	text-decoration: none;
	color: black;
}
#topbar {
	position: fixed;
	display: block;
	top:0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background: rgb(255,255,255);
	background: rgba(255,255,255,1);
	box-shadow: 0px 0px 10px #666;
	z-index: 1;
}
#topbar #center {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 900px;
	display: block;
}
#topbar #center .left {
	display: inline;
	display: table;
	float: left;
	height: 50px;
	text-shadow: -1px -1px -20px #000,-1px -1px -20px #000;
	font-family: sans-serif;
	padding-left: 10px;
}
#topbar #center .right {
	display: inline;
	display: table;
	float: right;
	height: 50px;
}
#topbar .left .item {
	display: inline;
	display: table-cell;
	vertical-align: middle;
	color: gray;
	font-size: 30px;
	font-weight: bolder;
	cursor: pointer;
}
#topbar .right .item {
	text-align: center;
	width: 80px;
	display: inline;
	display: table-cell;
	vertical-align: middle;
	color: rgb(66,57,46);
	font-size: 16px;
	font-weight: bolder;
	cursor: pointer;
}
#topbar .right .item:hover {
	color: gray;
}
#mainBody {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	position: relative;
	top: 50px;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.8);
	padding-top: 50px;
	padding-bottom: 40px;
	box-shadow: 0px 2px 2px #888;
}
#mainBodyOther {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	position: relative;
	top: 50px;
	background: rgb(255,255,255);	
	background-color: rgba(255,255,255,0.8);
	padding-top: 50px;
	padding-bottom: 40px;
	box-shadow: 0px 2px 2px #888;
}
#sliderBlock {
	height: 250px;
	width: 610px;
	background: rgb(181,181,181);
	overflow: hidden;
	box-shadow: 0px 0px 15px #888;
}
#image1 {
	background-image: url('/images/a.jpg');
	background-size: 610px 250px;
	background-position: left top;
}
#image2 {
	background-image: url('/images/b.jpg');
	background-size: 610px 250px;
	background-size: 600px 600px;
	background-position: left top;
}
#image3 {
	background-image: url('/images/c.jpg');
	background-size: 610px 250px;
	background-position: left top;
}
#image4 {
	background-image: url('/images/d.jpg');
	background-size: 610px 250px;
	background-position: left top;
}
#image5 {
	background-image: url('/images/e.jpg');
	background-size: 610px 250px;
	background-position: left top;
}
.images {
	max-height: 250px;
	width: 610px;
	background: rgb(241,241,241);
}
.image {
	background-size: 610px 250px;
	height: 250px;
	width: 610px;
	background: rgb(241,241,241);
	display: none;
}
.imageText {
	position: relative;
	bottom: 0px;
	left: 0px;
	height: 50px;
	background: rgb(212,223,229);
	background: rgba(212,223,229,0.7);
	padding: 5px;
	color: black;
}
.imageText:hover {
	background: rgb(220,220,220);
	background: rgba(120,120,120,0.8);
	color: white;
	cursor: pointer;
}
.bottons {

	position: relative;
	top: 0px;
}
#prev {

}
#next {

}
.button {
	border-radius: 20px;
	text-align: center;
	display: inline-block;
	padding: 5px;
	border: 2px solid black;
	width: 20px;
	background: rgb(110,110,110);
	background: rgba(110,110,110,0.5);
	position: relative;
	top: -40px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}
.button:hover {
	background: rgb(181,181,181);
	background: rgba(181,181,181,0.8);
	color: white;
}
#slider {
	float: left;
	height: 250px;
	width: 610px;
}
.clear {
	clear: both;
}
#rightCol {
	float: right;
}
#whatshot {
	height: 240px;
	width: 280px;
	box-shadow: 0px 0px 20px gray;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.7);
	padding: 5px;
}
.title {
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	box-shadow: 0 5px 15px -8px gray;
	-webkit-box-shadow: 0 5px 15px -8px gray;
	-moz-box-shadow: 0 5px 15px -8px gray;
}
.menuItem {
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px; 
	background: url('/images/bullet2.png') no-repeat;
	background-size: 16px 16px;
	cursor: pointer;
	font-size: 13px;
}
.menuItem:hover {
	font-style: italic;
}
.menu {
	height: 190px;
	overflow-y: hidden;
	margin-top: 10px;
}
.menu:hover {
	overflow-y: auto;
}
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.homeStory {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	min-height: 100px;
	height: 100px;
	box-shadow: 2px 2px 3px #888;
}
.leftVertical {
	float: left;
	width: 5px;
	height: 100%;
	
	background: gray;
}
.story {
	margin-top: 10px;
	max-height: 90px;
	background: rgb(240,240,240);
	background: rgba(240,240,240,0.8);
	width: auto;
	overflow-y: auto;
	padding: 5px;
}
#gray {
	background: rgb(180,180,180);
	background: rgba(180,180,180,0.5);
}
#red {
	background: rgb(250,0,0);
	background: rgba(250,0,0,0.5);
}
#blue {
	background: rgb(0,0,250);
	background: rgba(0,0,250,0.5);
}
#green {
	background: rgb(0,250,0);
	background: rgba(0,250,0,0.5);
}
.storyTitle {
	padding: 3px;
	font-family: sans-serif;
	font-style: oblique;
	font-weight: bolder;
}
.storyPara {
	padding: 3px;
	font-size: 14px;
}
#footer {
	margin-top: 40px;
	font-size: 13px;
	text-align: center;
}
.footerDivider {
	display: inline-block;
	background-color: gray;
	width: 1px;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.footerItem {
	display: inline;
}
#home {
	min-height: 200px;
}
.column {
	float: left;
	width: 270px;
	margin: 10px 10px 10px 10px;
	position: relative;
	min-height: 200px;
	height: inherit;;
}
.leftLineOnCol {
	box-shadow: -4px 0px 5px -3px #888;
}
.grp {
	margin: 5px;
}
.grpTitle {
	margin-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	box-shadow: 0px 4px 5px -3px #888;
	font-weight: bold;
	font-size: 14px;
}
.grpBody {
	padding: 5px;
	width: 260px;
}
.grpItem {
	padding: 3px;
	width: 260px;
	text-align: justify;
	word-wrap: break-word;
	font-size: 12px;
}
.bullet {
	background: url('/images/bullet.png');
}
.floatRight {
	float: right;
}
.storyTitle {
	padding: 3px;
	font-family: sans-serif;
	font-style: oblique;
	font-weight: bolder;
}
.storyPara {
	padding: 3px;
	font-size: 14px;
}
#footer {
	margin-top: 40px;
	font-size: 13px;
	text-align: center;
}
.footerDivider {
	display: inline-block;
	background-color: gray;
	width: 1px;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.footerItem {
	display: inline;
}
#leftCol {
	float: left;
	width: 600px;
}
#leftColTitle {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.2);
	color: rgba(101,101,101,0.9);
	font-size: 24px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 1px #555;
}
.leftColTitleClass {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.2);
	color: rgba(101,101,101,0.9);
	font-size: 24px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 1px #555;	
}
.startTestButton {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.2);
	color: rgb(101,101,101); 
	color: rgba(101,101,101,0.9);
	font-size: 15px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 1px #555;
	font-style: italic;
	position: relative;
	top: 10px;
	text-align: center;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
.leftColStory {
	height: auto;
	margin-bottom: 10px;
}
.LCStitle {
	float: right;
	height: 20px;
	padding: 10px;
	background-color: rgb(100,145,195);
	background-color: rgba(100,145,195,0.7);
	width: 545px;
	cursor: pointer;
}
.LCSbody {
	width: 578px;
	margin-left: auto;
	margin-right: auto;
	min-height: 5px;
	max-height: 600px;
	overflow-y: auto;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,1);
	height: 5px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0px 0px 3px #888;
	font-size: 14px;
}
.LCStitleHt {
	height: 40px;
}
.space {
	margin: 10px;
}
#topbar #centerMenu {
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 900px;
	display: block;
	position: relative;
	background-color: rgb(10,10,10);
	background-color: rgba(10,10,10,1);
	box-shadow: 0px 2px 2px  #000;
	text-align: center;
	padding-top: 10px;
}
.menuItemOther {
	display: inline;
	margin-left: 40px;
	margin-right: 40px;
	color: gray;
	cursor: pointer;
}
.menuItemOther:hover {
	color: white;
	text-shadow: 0px 0px 4px #FFF;
}
.padTopMainBody {
	padding-top: 50px;
}

.openNewWinIcon {
	float: right;
	display: inline-block;
	width: 30px;
	height: 40px;
	background: url('/images/open-in-new.png') no-repeat;
	background-size: 16px 16px;
	background-position: center;
	background-color: rgb(100,145,195);
	background-color: rgba(100,145,195,0.7);
}
.event {
	background: url('/images/leftBar.png') repeat-y;

	float: right;
	min-height: 20px;
	height: auto;
	background-color: rgb(100,195,145);
	background-color: rgba(100,195,145,0.7);
	width: 590px;
	margin-bottom: 5px;
	padding: 5px;
	box-shadow: 1px 1px 1px #888;
}
.eventMisc {
	float: right;
	text-align: right;
	width: 600px;
	font-size: 12px;
	font-style: italic;
}
.eventMiscItem {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}
.eventBody {
	padding-left: 5px;
	padding-bottom: 10px;
}
.LCStitleHtAuto {
	min-height: 20px;
	height: auto;
}
.eventTitle {
	font-size: 14px;
	font-weight: bold;
}
.eventDesc {
	font-size: 12px;
	padding-top: 10px;
}
#currentPage {
	color: white;
	text-shadow: 0px 0px 4px #FFF;
}
.noteTitle {
	height: 20px;
	padding: 10px;
	background-color: rgb(100,145,195);
	background-color: rgba(100,145,195,0.7);
	width: 880px;
	margin-left: auto;
	margin-right: auto;
}
.noteBody {
	width: 880px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,1);
	padding: 10px;
	box-shadow: 0px 0px 3px #888;
	font-size: 12px;
}
.pageTitle {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.2);
	color: rgba(101,101,101,0.9);
	font-size: 24px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 1px #555;
}
.testSlider {
	display: inline-block;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.0);
	height: 60px;
	width: 792px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 4px;
	white-space: nowrap;
	box-shadow: 0px 5px 9px -4px #888;
	margin-left: 5px;
	margin-right: 5px;
}
.testItemGreen {
	display: inline-block;
	height: 60px;
	width: 70px;
	background-color: rgb(120,50,50);
	background-color: rgba(120,50,50,0.7);
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	font-size: 10px;
	position: relative;
	background: rgb(10,200,10); 
	top: 0px;
}
.testItemRed {
	display: inline-block;
	height: 60px;
	width: 70px;
	background-color: rgb(120,50,50);
	background-color: rgba(120,50,50,0.7);
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	font-size: 10px;
	position: relative;
	background: rgb(200,10,10); 
	top: 0px;
}
.testItemContent {
	padding: 2px; 
	font-size: 12px; 
	text-align: center;
}
.testItemTestNo {
	margin-bottom: 5px; 
	margin-top: 3px;
}


.sliderButton {
	display: inline-block;
	padding: 5px;
	padding-top: 8px;
	height: 15px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.5);
	width: 20px;
	cursor: pointer;
	font-size: 10px;
	text-align: center;
	position: relative;
	border-radius: 90px;
	position: relative;
	top: -18px;
	box-shadow: 0px 0px 3px #888;
}
.testListBox {
	margin-left: 10px;
}
.column {
	float: left;
	width: 280px;
	margin: 10px 5px 5px 5px;
	position: relative;
	min-height: 200px;
	padding: 5px;
}
.grp {
	margin: 5px;

}
.grpTitle {
	margin-top: 10px;
	padding-left: 5px;
	padding-bottom: 3px;
	box-shadow: 0px 4px 5px -3px #888;
	font-weight: bold;
}
.grpBody {
	padding: 5px;
	width: 260px;
}
.grpItem {
	padding: 3px;
	width: 260px;
	word-wrap: break-word;
	font-size: 14px;
}
.bullet {
	background: url('bullet.png');
}
.noteTitle {
	height: 20px;
	padding: 10px;
	background-color: rgb(100,145,195);
	background-color: rgba(100,145,195,0.7);
	width: 880px;
	margin-left: auto;
	margin-right: auto;
}
.noteBody {
	width: 880px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,1);
	padding: 10px;
	box-shadow: 0px 0px 3px #888;
}
.leftFloat {
	float: left;
}
#word {
	font-size: 28px;
	font-weight: bold;
	margin: 30px;
}
#usage {
	font-size: 14px;
	margin: 30px;
	font-style: italic;
}
#meaning {
	font-size: 24px;
	margin: 30px;
}
#sentence {
	font-size: 20px;
	margin: 30px;
}
.wordChanger {
	position: relative;
	top: 170px;
	padding: 30px 20px 20px 20px;
	width: 40px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 5px 0px #888;
	color: #888;
	border-radius: 150px;
	cursor: pointer;
	font-size: 40px;
}
.wordChanger:hover {
	box-shadow: 0px 0px 1px 3px #555;
	color: #555;
}
#wordSearchInput {
	padding: 5px; 
	padding-right: 25px; 
	margin-right: 15px; 
	background-size: 22px 22px; 
	background-position: center right;
	border-radius: 5px;
}
#wordSearchInput_backup_March_6_2013 {
	padding: 5px; 
	padding-right: 25px; 
	margin-right: 15px; 
	background: url('/images/search.png') no-repeat; 
	background-size: 22px 22px; 
	background-position: center right;
	border-radius: 5px;
}
.alreadyExisting {
	background-color: rgb(229,229,229);
	color: rgb(35,128,143);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 11px;
	padding: 5px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.loginBox {
	width: 500px;
	padding: 8px;
	font-size: 12px;
	border: 1px solid gray;
	color: gray;
	text-align: center;
	background-color: rgb(223,223,223);
	margin-left: auto;
	margin-right: auto;
}
.loginBox input {
	padding: 5px 10px 5px 10px;
	text-align: center;
}
#bookmark {
	cursor: pointer;
	z-index: 0;
}
.noteAuthor {
	text-align: right;
	color: black;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}
.fluid_container {
	margin: 0 auto;
	max-width: 610px;
	width: 99%;
	z-index: 0;
}
#bodyContent {
	display: block;
	width: 750px;
	margin-left:auto;
	margin-right:auto;
	height: 100%;
	overflow: scroll;
}
#bowl {
	position:relative;
	display: table;	
	width: 100%;
	height: 100%;
}
#water {
	position:;
	display: table-cell;
	vertical-align: middle;	
}
#submit {
	padding: 5px 15px 5px 15px; 
	position: relative;
	left: 235px; 
	cursor: pointer; 
	background-color: gray; 
	max-width: 70px; 
	text-align: center; 
	top: 15px; 
	color: white;
}